/* FOOTER (start) */

footer {
   height: 350px;
   color: white;
   font-family: "Roboto", sans-serif;
}

.footer-1 {
   background-color: #153350;
   height: 300px;
   padding: 50px 0;
}

.footer-logo {
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
   margin: 0;
}

.footer-logo a img {
   height: 70px;
   width: 125px;
}

.footer-nav {
   height: 85px;
   width: 100%;
   padding: 0 37.5%;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-nav a {
	color: rgb(245, 245, 245);
   font-size: 13px;
   text-decoration: none;
   margin: 0 20px;
}

.footer-icons {
   width: 100%;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-size: 30px;
}

.footer-icons a {
   width: 45px;
   height: 45px;
   line-height: 48px;
   text-align: center;
   background: rgb(245, 245, 245);
   border-radius: 36px;
   color: #69c6c0;
   font-size: 22px;
   margin: 0 15px;
}

.footer-icons a:hover {
   background-image: linear-gradient(to left bottom, #153350, #203e5d, #2a4a6a, #355677, #3f6285, 
   #426e91, #457b9d, #4988a9, #4898b2, #4da8b9, #58b7be, #69c6c0);
   color: rgb(245, 245, 245);
   transition: all 0.5s ease 0s;
}

.footer-2 {
   background-color: #0e2336;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #355677;
}

/* FOOTER (end) */