body {
   margin: 0;
   background-color: rgb(245, 245, 245);
}

/* NAVBAR (start) */

.responsive {
	display: none;
}

.header-section {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 0 100px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
   width: 100%;
}

.scroll {
   background-color: rgb(245, 245, 245);
   position: fixed;
   top: 0;
	z-index: 999;
	padding: 0 100px;
   width: 100%;
   box-shadow: 0px 3px 5px #E2E2E2;
 }

.header-logo {
	display: inline-block;
	float: left;
   padding-top: 5px;
   cursor: pointer;
}

.header-logo img {
	width: 110px;
   transition: transform .2s;
}

.header-logo img:hover {
   transform: scale(1.1);
}

.navbar {
	list-style: none;
   margin: 0;
   margin-left: 200px;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
}

.navbar li {
   display: inline;
}

.navbar li a {
	display: inline-block;
   padding: 27px 5px;
	margin-left: 10px;
	color: #153350;
	position: relative;
	font-family: "Roboto", sans-serif;
   font-size: 14px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.navbar li a:hover, .navbar li a.active {
   color: #69c6c0;
   text-decoration: none;
}

.navbar li.active a {
	color: #69c6c0;
}

/* NAVBAR (end) */

/* SECTION PRESENTATION (start) */

.header-div{
   position: absolute;
   top: -100px;
   right: 0px;
   height: 800px;
   width: 500px;
   border-radius: 100% 0% 45% 55% / 69% 88% 12% 31%;
   background-image: linear-gradient(to left bottom, #153350, #203e5d, #2a4a6a, #355677, #3f6285, #426e91, #457b9d, #4988a9, #4898b2, #4da8b9, #58b7be, #69c6c0);
}

.header-div-2 {
   width: 100%;
   height: 100%;
   border-radius: 100% 0% 45% 55% / 69% 88% 12% 31%;
   background-size: 100%;
   background-position-x: 22px;
   background-position-y: 100%;
   background-repeat: no-repeat;
   background-image: url('../img/myself\ \(3\).png');
}

.header-text {
   padding-left: 100px;
   padding-top: 150px;
   font-family: 'Open Sans', sans-serif;
   color: #A6A6A6;
   height: 550px;
   margin-top: 76px;
}

.title {
   font-family: 'Lobster', cursive;
   font-size: 45px;
   margin-bottom: 30px;
   color: #153350;
}


.title-2 {
   color: #153350;
   font-size: 20px;
}

.header-icon {
   margin-top: 30px;
   height: 30px;
   width: 100%;
}

   .header-icon i {
      color: #A6A6A6;
      font-size: 20px;
      margin: 0 15px 0 0;
   }

   .header-icon i:hover {
      color: #69c6c0;
      font-size: 20px;
      margin-right: 15px;
      -webkit-transition: all 0.4s ease 0s;
   	-o-transition: all 0.4s ease 0s;
   	transition: all 0.4s ease 0s;
   }

/* SECTION PRESENTATION (end) */


/* TOP HEADER (start) */

.top-header {
   height: 450px;
   background-image: linear-gradient(to left bottom, #153350, #203e5d, #2a4a6a, #355677, #3f6285, #426e91, #457b9d, #4988a9, #4898b2, #4da8b9, #58b7be, #69c6c0);
   display: flex;
   justify-content: center;
   align-items: center;
}

.top-header h1 {
   color: white;
   font-size: 40px;
   font-family: 'Lobster', cursive;
}

/* TOP HEADER (end) */


/* BURGER MENU (start) */

.burger-1 {
   height: 400px;
   width: 100%;
   display: none;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   border: solid 2px #153350;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   z-index: 999;
   position: fixed;
   top: 82px;
   background-image: linear-gradient(to left bottom, #153350, #203e5d, #2a4a6a, #355677, #3f6285, #426e91, #457b9d, #4988a9, #4898b2, #4da8b9, #58b7be, #69c6c0);
}
#burger:hover {
   cursor: pointer;
} 

.b-1 {
   height: 25%;
   width: 100%;
   font-family: 'Lobster', cursive;
   display: flex;
   align-items: center;
   justify-content: center;
}

.b-2 {
   text-decoration: none;
   color: #FFFFFF;
   font-size: 35px;
}

.b-2:hover {
   color: #0f273d;
   text-decoration: none;
}

/* BURGER MENU (end) */